body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31 41 55);
}

.memory-btn,
.storage-btn,
.delivery-btn {
    font-size: 0.75rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem;
    transition: .2s;
    margin-bottom: 0.5rem;
}